@mixin fixed() {
  position: fixed;
  _position: absolute;
  *zoom: 1;
}
$_media_type: (
  iPhoneX: // 只适配iphoneX系列 t状态栏44 b底部栏83 => 其余 20 49
    'only screen and (device-width: 375px) and (device-height: 812px),only screen and (device-width: 414px) and (device-height: 896px)',
  notPhoneX:
    'only screen and (device-width: 320px) and (device-height: 480px), only screen and (device-width: 320px) and (device-height:568px), only screen and (device-width: 375px) and (device-height:667px), only screen and (device-width: 414px) and (device-height:736px)'
);
$_not_x_status_h: 20px;
$_x_status_h: 44px;

@mixin responsive(
  $preifx: fix,
  $className: autoX,
  $offset: 0,
  $bgColor: #f5f5f5
) {
  // 非iphoneX系列 header
  @media #{map-get($_media_type, notPhoneX)} {
    @if $preifx == top {
      top: $_not_x_status_h;
    } @else {
      .#{$className} {
        padding-top: $_not_x_status_h + $offset; // 750的UI
        &::before {
          height: $_not_x_status_h;
          background: $bgColor;
          @include fixed();
          content: '';
          top: 0;
          width: 100%;
          z-index: 1;
        }
      }
    }
  }

  // iphoneX系列 header
  @media #{map-get($_media_type, iPhoneX)} {
    @if $preifx == top {
      top: $_x_status_h;
    } @else {
      .#{$className} {
        padding-top: $_x_status_h + $offset;

        &::before {
          height: $_x_status_h;
          background: $bgColor;
          @include fixed();
          top: 0;
          content: '';
          width: 100%;
          z-index: 1;
        }
      }
    }
  }
}